{% extends 'users/base.html' %}

{% block content %}
{% comment %}
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}


    {% if form.errors %}
        <div class="errorlist">
            <p>Исправьте, пожалуйста, следующие ошибки:</p>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <button type="submit">Сменить пароль</button>
</form>
{% endcomment %}
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div>
        {{ form.old_password.label }}<br>
        {{ form.old_password }}<br>
        {{ form.old_password.errors }}
    </div>

    <div>
        {{ form.new_password.label }}<br>
        {{ form.new_password }}<br>
        {{ form.new_password.errors }}
    </div>

    <div>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password }}<br>
        {{ form.confirm_password.errors }}
    </div>

    <button type="submit">Сменить пароль</button>
</form>

{% if messages %}
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
{% endif %}
{% endblock content %}
